registry=https://registry.npmjs.org/
legacy-peer-deps=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
prefer-offline=true
retry-times=5
timeout=60000
network-timeout=600000